---
import "@/styles/globals.css"
import {AstroFont} from "astro-font"

// PROPS ***********************************************************************************************************************************
const {title} = Astro.props

// TYPES ***********************************************************************************************************************************
interface Props {
  title: string
}
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <AstroFont
      config={[
        {
          src: [],
          name: "Poppins",
          googleFontsURL: "https://fonts.googleapis.com/css2?family=Poppins:wght@700&subset=latin&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
          cssVariable: "font-heading",
        },
        {
          src: [],
          name: "Quicksand",
          googleFontsURL: "https://fonts.googleapis.com/css2?family=Quicksand&subset=latin&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
          cssVariable: "font-base",
        },
      ]}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
